{% extends "base.html" %} {% block content %}


<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload">
            <i class="fas fa-cloud-upload-alt"></i> Input
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>
		<img src="{{ url_for('static', filename='imgs/arrow-down.png') }}" id="arrow">
	<br>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
                <img src="" id="newImage" style="height: 246px ; width: 246px; opacity: 0.4;">
            </div>
        </div>

		<img src="{{ url_for('static', filename='imgs/arrow-down.png') }}" id="arrow">
	<br>

        <div>
            <button type="button" id="btn-predict">
                <i class="fas fa-cloud-upload-alt"></i> Send
            </button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}
